################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/ModeloMatematico/v15/Server/sqlite3
/.vs/ModeloMatematicoRep1/v16
