################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/ModeloMatematico/v15/Server/sqlite3
/.vs/ModeloMatematicoRep1/v16
/ModeloMatematico/modulos/css/odometer-car.css
/ModeloMatematico/modulos/mapa/prueba.aspx
/ModeloMatematico/modulos/mapa/prueba.aspx.vb
